*{
    font-family: 'Lora', serif;
    font-family: 'Karla', sans-serif;
}

h1{
    font-family: 'Lora', serif;
    font-size: 75px!important;
}

h3{
    font-family: 'Lora', serif;
    font-size: 50px!important; 
}
h4{
  font-family: 'Lora', serif;
  font-size: 40px!important; 
}
h6{
    font-family: 'Karla', sans-serif;
    font-size: 24px!important;

}

p{
  font-family: 'Karla', sans-serif;
  font-size: 18px!important;
}

a{
    color: white!important;
    text-decoration: none !important;
}



body {
    margin: 0;
    padding: 0;
  }
  
/*------------------------------- ABRE CODEPEN: https://codepen.io/franknoirot/pen/qzvyVd?__cf_chl_jschl_tk__=c0513f042c3b36034c515785a0b45ab28c6636ca-1591657950-0-AXxl5drD4uydsvFTyD1UjgoZ1kx6wn63T9VvANuuqs-PwqeBTEQwKD51Hh-twQTr-ISxF8_Y0F6QSKm5j2WeEcSZdKXSV_nrMB1DAn3JqTj3WdIJWPpARfriqeM3E5YGFa7NaKyfffYRJiGJ_2N4dLqrqe9MU0GJZDIfMCAo8ulPwdacsS8FiVX6uFm1MsD8Bh6TMDfo3Lb0tHd0cerccO5jTSsQSalR4-rWwBcjkXaNDCOiHfrOHoxN4cR792rfvy9LtgQ4WDDPkLFrz2qlz__0vMdabjzq7sYliYKbcRUe7sc-0FMwRi1H-prXulSaEkEDgStj3VSJlg8iQjIJpLjFm-OxNkH3Cur0LrpofLu2 -------------------------------*/
.horiz-scroll-wrapper {
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
.horiz-scroll-inner {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 0;
    margin: 0;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow: hidden;
  }
  
.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
.slide * {
    transform: var(--anti-transform);
  }
  
.slide:last-child {
    width: 100vw;
  }
  
.slides-color {
    background: #ffac58; 
}

 /*------------------------------- CIERRA CODEPEN -------------------------------*/


 /*------------------------------- ABRE CODEPEN: https://codepen.io/whusterj/pres/bdYKop -------------------------------*/


.float-shape{
        animation-name: float-shape;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    @keyframes float-shape {
        from { transform: translate(0,  0px); }
        65%  { transform: translate(0, 15px); }
        to   { transform: translate(0, -0px); }    
    }

     /*------------------------------- CIERRA CODEPEN -------------------------------*/


 .shape1{
    position:absolute; 
    top: -50px;
    left: -100px;
    z-index:0;    
    width: 1200px;
    height: 1200px;
}


.shape3{
  position: absolute;
  top: -400px;
  left: 2500px;
  z-index: 0;
  width: 800px;
  height: 800px;
}
.shape4{
  position: absolute;
  top: -200px;
  right: -500px;
  z-index: 0;
  width: 1200px;
  height: 1200px;
}
.profile-size{
width: 100%;
}

#branding{  
  height: 100vh;
  position: relative;
  transition: 0.3s;
opacity: 0.6;

}

#branding:hover{
background: url("../img/homebranding-cover.png");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
opacity: 1;
}

#branding a h3{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -38%;
}

#dibujos{  
  height: 100vh;
  position: relative;
  transition: 0.3s;
opacity: 0.6;

}

#dibujos:hover{
background: url("../img/homedibujos-cover.png");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
opacity: 1;
}

#dibujos a h3{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -30%;
}


#editorial{  
  height: 100vh;
  position: relative;
  transition: 0.3s;
opacity: 0.6;

}

#editorial:hover{
background: url("../img/homecover-editorial.png");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
opacity: 1;
}

#editorial a h3{
  position: absolute;
  top: 50%;
  left: 45%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -30%;
}

#web{  
  height: 100vh;
  position: relative;
  transition: 0.3s;
opacity: 0.6;

}

#web:hover{
background: url("../img/homecover-web.png");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
opacity: 1;
}

#web a h3{
  position: absolute;
  top: 50%;
  left: 55%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -30%;
}


.project{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 0!important;

}
nav  { 
  background-color:#ffac58!important; 
} 
body > header > nav > div.mx-auto.order-0 {
margin-right: 0!important;
}



.bkg-branding{
  background: url("../img/branding-cover.png") no-repeat fixed center;
}

.bkg-dibujos{
  background: url("../img/dibujos-cover.png") no-repeat fixed center;
}
.bkg-editorial{
  background: url("../img/cover-editorial.png") no-repeat fixed center;
}
.bkg-web{
  background: url("../img/cover-web.png") no-repeat fixed center;
}

.s-2{
  background-color: #1d3752;
  height: 100%;
}

.project-img{
  width: 100%;
  height: 100%;
}

.space-project{
  margin-top: 20%;
}

.s-3{
  background-color: #1d3752;
  height: 100%;
}


.s-4{
  background-color: #1d3752;
  height: 100%;
  padding-bottom: 10%;
}

#email{
  background-color: #1d3752!important;
  color: white;
  font-family: 'Lora', serif;
  font-size: 38px;
  padding: 0px 10px;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .profile-size{
      width: 40%;
    margin: 5% 28%;
    }

    .shape4{
    display: none;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .profile-size{
width: 80%;
    }

    .shape4{
    display: none;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 


    h1{
      font-size: 50px!important;
  }
  
  h3{
      font-size: 35px!important; 
  }

  h4{
    font-size: 28px!important; 
  }


  h6{
      font-size: 18px!important;
  
  }
  
  p{
    font-family: 'Karla', sans-serif;
    font-size: 14px!important;
  }
  
  .shape1{
    position:absolute; 
    top: 0px;
    left: -250px;
    z-index:0;    
    width: 650px;
    height: 650px;
}

.shape3{
  position:absolute; 
  top: -350px;
  left: 700px;
  z-index:0;    
  width: 650px;
  height: 650px;
}
.profile-size{
  width: 50%;
margin: 5% 25%;  
}
#email{
  background-color: #1d3752!important;
  color: white;
  font-family: 'Lora', serif;
  font-size: 28px;
  padding: 0px 5px;
}
.shape4{
display: none;
}
}


